@use '../abstracts' as *;

#banner-text {
    text-align: center;
}

#banner-image {
    background-image: url(../../images/cornwall.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    background-size: cover;
}