@use '../abstracts' as *;

/* ====== Temporary styling =======*/

/* * {
    outline: 1px solid red !important;
} */

/* ======== Body styling =========*/

body {
    box-sizing: border-box;
    display: block;
    width: auto;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background-color: $white-grey;
}

h1 {
    display: block;
    font-weight: 400;
    color: $darkest-grey;
    text-transform: uppercase;
    @media screen and (max-width: $small) {
        font-size: 8vw;
    }
}

h2 {
    display: block;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px $mid-grey;
}

h3 {
    display: block;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
}

p {
    display: block;
    font-weight: 300;
    color: $darkest-grey;
    font-style: italic;
    @media screen and (max-width: $small) {
        font-size: 5vw;
    }
}

a {
    text-decoration: none;
    color: $slate-blue;
}

a:hover {
    text-decoration: none;
    color: $light-blue;
    cursor: pointer;
}

header {
    display: block;
    width: 100%;
    height: 100vh;
    top: 0;
    @media screen and (min-width: $small) {
        width: 100%;
        position: relative;
    }
}

.heading {
    box-sizing: border-box;
    margin: 0;
    padding: 10px 40px 20px;
    background-color: $light-blue;
    box-shadow: inset 0 4px 8px 0 rgb(0 0 0 / 20%), inset 0 6px 20px 0 rgb(0 0 0 / 19%);
    h1, p {
        color: #fff;
        text-shadow: 1px 1px 2px $darkest-grey;
    }
    @media screen and (min-width: $small) {
        padding: 10px 40px 20px 80px; 
    }
}

.page-content {
    display: block;
    width: 100%;
    top: 0;
    @media screen and (min-width: $small) {
        width: calc(100vw - 160px);
        position: relative;
        left: 160px;
    }
}

/* ======== Media Queries =========*/
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }