@use '../abstracts' as *;

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $slate-blue;
    overflow-x: hidden;
    padding-top: 20px;
    margin: 0;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: $light-grey;
    display: block;
}

.sidenav a:first-child {
    font-size: 50px;
    text-align: center;
    letter-spacing: 5px;
    padding: 15px 25px 35px;
}

.sidenav a:hover {
    color: #fff;
}

.socials span {
    display: inline;
}

